<div class="container-fluid">
    <div class="row g-0">
        <div class="col-12 col-md-5">
            <div class="carofind">
                <h4>a place where your needs <br><span>and Goals Come First</span></h4>
                <p>Come home to a safe, healthy and nurturing place.</p>
                <a href=""><button class="btn">find out more</button></a>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{info.carousel1.url}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{info.carousel2.url}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{info.carousel3.url}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{info.carousel4.url}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{info.carousel5.url}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{info.carousel6.url}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{info.carousel7.url}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{info.carousel8.url}}" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div> 
    </div>
</div>