<div class="container-fluid mt-5 footer1">
    <div class="row pt-5">
        <div class="col-12 col-md-4 foota">
            <img src="{{info.logo.url}}">
        </div>
        <div class="col-12 col-md-4 footb">
            <h4>useful links</h4>
            <ul class="list-unstyled">
                <a href=""><li>home</li></a>
                <a href=""><li>about us</li></a>
                <a href=""><li>services</li></a>
                <a href=""><li>careers</li></a>
                <a href=""><li>forms</li></a>
                <a href=""><li>contact</li></a>
            </ul>
        </div>
        <div class="col-12 col-md-4 footc">
            <h4 class="text-center">contact information</h4>
            <p>We look forward to hearing from you. For inquiries and concerns, please do not hesitate to call us.</p>
            <div class="row">
                <div class="col-1">
                    <i class="bi bi-geo-alt"></i>
                </div>
                <div class="col-11">
                    <p>4121 Sihler Oaks Trail <br>
                        Owings Mills, MD 21117-5004</p>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <i class="bi bi-telephone"></i>
                </div>
                <div class="col-11">
                    <p>Phone: 410-802-3815 <br>
                        Fax: 443-703-2331</p>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <i class="bi bi-envelope"></i>
                </div>
                <div class="col-11">
                    <p>Email Address: <br>
                        dpmpsp@comcast.net <br>
                        darren@oseshome.org</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer2">
        <div class="col-12">
            <p>&copy; copyright oseshome 2022 | all rights reserved.</p>
        </div>
    </div>
</div>